[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
numpy = "*"
"psycopg2-binary" = "*"
python-dateutil = "*"
pytz = "*"
six = "*"
libsass = "*"
django-sass-processor = "*"
django-compressor = "*"

[dev-packages]
pandas = "*"
sqlalchemy = "*"
"autopep8" = "*"

[requires]
python_version = "3.7"
